/build/*
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/paulzenker.xcuserdatad
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/*
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/paulzenker.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
/DailyPic.xcodeproj/project.xcworkspace
