/build/*
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/paulzenker.xcuserdatad
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/*
/DailyPic.xcodeproj/project.xcworkspace/xcuserdata/paulzenker.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
/DailyPic.xcodeproj/project.xcworkspace
.DS_Store
DailyPic.xcodeproj/project.xcworkspace/xcuserdata/paulzenker.xcuserdatad/UserInterfaceState.xcuserstate
DailyPic.xcodeproj/xcuserdata/paulzenker.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
